.fondo{
    background-color: rgb(159, 223, 246);
}
.tabla{
    background-color: #3d5be3 ;
    border-collapse: collapse;
    border: 3px solid black;
    margin: auto;
    margin-top: 50px;
    
    
}
.tab{
    border-collapse: collapse;
    border: 3px solid black;

}
.tar{
    margin: 50px;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    
}
.forma{
    background-color: rgb(128, 114, 237);
    border-radius: 5px;
    color: #000;
    padding: 100px;
    margin: auto;
    margin-top: 50px;
    width: 200px;
    font-size: 20px;
    
}

.centro{
    text-align: center;
    color: hsl(274, 84%, 12%);

}
.boton{
    width: 175px;
    background: #000;
    border: none ;
    padding: 20px;
    color: beige;
    margin: 16px 0;
}

.result {
    background-color: #f3f1f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(5, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    text-align: center;
}